<div class="container-show">
  <div class="row">
    <%= render "featured" %>
  </div><br />
  <div class="row">
    <div class="col-md-8 col-sm-12">
      <div class="row">
        <%#= render @blogs %>
        <div id="blogs">
          <%= render partial: "list", locals: {blogs: @blogs} %>
        </div>

      </div>
      <div class="container">
        <%= paginate @blogs %>
      </div>
    </div>
    <div class="d-none d-md-block col-md-4 ">
      <div class="card border-light">
        <div class="card-header">Featured Listings</div>
        <div class="card-body">
          <div class="row">
            <%= render partial: "listings/listings_for_blogs", locals: {listings: @listings} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
