<div class="container">
  <h1 class= "text-center">Adding New Blog</h1>

</div>

<div class="row justify-content-md-center">
  <div class="col-md-10">
    <div class="card">
      <div class="card-header">Adding New Blog</div>
      <div class="card-body">
        <%= render 'form' %>
      </div>
    </div>

  </div>
</div>
