<div class="container">
  <div class="row justify-content-md-center listing-new">
    <div class="col-md-11">
      <div class=" card card-default">
        <div class="card-header text-center">
          <span class="listing-title">Add Your Listing</span>
        </div>
        <div class="card-body">
          <div class="container-flow">
            <div class="listing-nav-menu">
              <%= render 'listing_nav' %>
            </div>
            <%= form_for @listing do |f| %>
              <div class="row">
                <div class="col-md-12 form-group input-text">
                  <label>Address</label>
                  <%= f.text_field :location, placeholder: "Property Location", class: "form-control", id: "auto_address", required: true %>
                </div>
              </div>
              <div class="text-center">
                <%= f.submit "Save", class: "btn btn-form" %>
              </div>
            <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

</div>
