<% @users.each do |user| %>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <div class="card-header preview">
        <%= link_to(user) do %>
          <% if user.pictures.count > 0 %>
            <%= image_tag user.pictures[0].avatar.url(), class: "avatar_full" %>
          <% else %>
            <%= image_tag avatar_url(user), class: "avatar_full" %>
          <% end %>
        <% end %>
      </div>
      <div class="card-body">
        <h5><%= link_to user.full_name, user %></h5>
      </div>
    </div>
  </div>
<% end %>
