<div class="row" id="edit-profile">
  <!-- <div > -->

    <div class="col-md-3 col-sm-5 col-3 text-center" id="profile-menu">
      <%= render 'shared/profile_nav' %>
    </div>

    <div class=" col-md-9 col-sm-7 col-9 text-center" id="profile-content">
      <div class="container">
        <div class="card">
          <div class="card-header">Your Phone Number</div>
            <div class="card-body">
              <div class="container">
                <% if !current_user.phone.blank? %>
                  <h4><%= current_user.phone %></h4>
                  <button class="btn btn-secondary" data-toggle="modal" data-target="#update-phone">Update Phone Number</button>
                  <% if current_user.phone_verified == false %>
                      <button class="btn btn-secondary" data-toggle="modal" data-target="#verify-phone">Verify</button>
                  <% end %>
                <% else %>
                  <button class="btn btn-secondary" data-toggle="modal" data-target="#update-phone">Add Phone Number</button>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- MODAL FOR PHONE NUMBER -->
      <%= render 'phone_number' %>
      <!-- MODAL FOR VERIFICATION -->
      <%= render 'phone_verification' %>


      </div>
    </div>
  </div>

</div>
