<ul class="nav justify-content-center">
  <li class="nav-item">
    <%= link_to "All", root_path, class: "nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to "For Sale", sales_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Rent", rent_path, class: "nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Short Stay", short_stay_path, class: "nav-link" %>
  </li>
</ul>
