<h1>Unsolicited Content</h1>
<p>
  Naijaproperty.com does not accept unsolicited content or ideas for use or publication in its programming or in other digital,
  electronic or print media except in connection with the Forums, chat rooms and bulletin boards on the Site. Naijaproperty.com and
  its affiliates shall not be responsible for the similarity of any of its content or programming in any media to Content or ideas transmitted to the Site.


</p>
