<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    Hey <%= @first_name %>
    <br/>
    Thanks for using NaijaProperty to search for next dream home... The agent/owner of this property "<%= @listing.listing_title %>", will contact you to answer your questions
    <br/>
    NaijaProperty Sales Department.
  </body>
</html>
